body {
    max-height: 100vh;
    background-color: #7d34f3;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px; 
    border: #ffffff 2px solid;
    border-radius: 5px;
    /* display: block; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#main-heading {
    color: #ffffff;
    font-size: larger;
    font-weight: 400;
    /* justify-content: center;
    align-items: center; */
}

.list-items{
    /* width: 100%; */
    color: #333333;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
}