*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #44f0d9;
    background-image: linear-gradient(to bottom right, #01806f, #44f0d9);
    display: flex;
    flex-direction: column;
    align-items:center;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    color: #ffffff;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px 50px;
}

button, .box {
    
    margin: 0 15px;
}

button{
    width: 500px;
    font-size: 24px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #ffffff00;
    padding: 135px 0;

}

.box {
    width: 800px;
    font-size: 22px;
    border: 2px solid #000000;
    border-radius: 20px;
    text-align:justify;
    padding: 20px;  
}

.box {
    display: none;
}

.box.reveal-button {
    display: block;
}

